
*{
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
  }
  body{
    --background-color: white;
    --text-color: black;
    --elements-color:white;
  
    margin: 0;
    font-family: nunito, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 28px;
    padding: 0.5rem 1.5rem;
    
    
  }
  .logo{
    font-weight: 700;
    font: size 45px;
  }
  .header-container{
    box-shadow:0 2px 4px 0px rgba(0, 0, 0, 0.2) ;
    padding-inline: 28px ;
    background-color: var(--elements-color);
  }
  .nav-links{
    display: flex;
    gap: 2rem;
    
}
li a{
    position: relative;
    color:rgb(49, 18, 83) ;
    font-weight: 500;
}
li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right,rgb(0,157,255),rgb(255,0,255));
}
li a:hover::before{
    width: 100%;
}