.nav{
    width: 100%;
    height: 150px;
    background-color: aliceblue;
}
.top-nav{
    width: 100%;
    height: 75%;
    background-color: rgb(55, 60, 65);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.bottom-nav{
    width: 100%;
    height: 25%;
    background-color: rgb(175, 214, 248);
    display: flex;
    align-items: center;
    list-style: none;
    justify-content:center;
    gap: 40px;
}
.top-nav .logo{
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.top-nav .search-box{
    width: 60%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-nav .search-box input{
    width: 70%;
    height: 100%;
    padding: 10px 20px;
}
.top-nav .search-box button{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}